<div class="sidebar">
<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true" ></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
    <div class="menu-item  flex flex-colum " >
        <div class=" border-solid align-items-center justify-content-center  mb-2"
             style="width:3.8rem;height:3.8rem; border-radius:10px ;border-color: #424bff ">
        <a routerLink="/dashboard" class="menu-item">
            <i class="pi pi-fw pi-home text-white-alpha-90" style="font-size: large"></i>
            <span class="label text-white-alpha-60">Dashboard</span>
        </a>
            </div>
        <div class=" border-solid align-items-center justify-content-center  mb-2"
             style="width:3.8rem;height:3.8rem; border-radius:10px ;border-color: #424bff ">

        <a routerLink="/uikit/formlayout" class="menu-item ">
            <i class="pi pi-fw pi-users text-white-alpha-90 " style="font-size: large "></i>
            <span class="label text-white-alpha-60">People</span>
        </a>
        </div>
        <div class="flex col-2 border-solid align-items-center justify-content-center  mb-2"
             style="width:3.8rem;height:3.8rem; border-radius:10px ;border-color: #424bff ">
        <a routerLink="/workspace" class="menu-item">
            <i class="pi pi-fw pi-chart-bar text-white-alpha-90" style="font-size: large"></i>
            <span class="label text-white-alpha-60">Statistic</span>
        </a>
        </div>
      <!--  <a routerLink="/calender" class="menu-item">
            <i class="pi pi-fw pi-calendar text-black-alpha-30" style="font-size: xx-large"></i>
            <span class="label text-black-alpha-60">Calendar</span>
        </a> -->
        <div class="flex col-2 border-solid align-items-center justify-content-center  mb-2"
             style="width:3.8rem;height:3.8rem; border-radius:10px ;border-color: #424bff ">

        <a routerLink="/booking" class="menu-item">
            <i class="pi pi-fw pi-cog text-white-alpha-90" style="font-size: large"></i>
            <span class="label text-white-alpha-60">Setting</span>
        </a>
        </div>
        <div class="flex col-2 border-solid align-items-center justify-content-center  mb-2"
             style="width:3.8rem;height:3.8rem; border-radius:10px ;border-color: #424bff ">

            <a routerLink="/char" class="menu-item">
                <i class="pi pi-fw pi-cog text-white-alpha-90" style="font-size: large"></i>
                <span class="label text-white-alpha-60">Setting</span>
            </a>
        </div>
    </div>
    <div class=" mt-6 border-2 border-solid overflow-hidden flex flex-colum "    style="width:15rem;height:5rem ;border-color: #424bff ;transform:translateX(-12%) translateY(190%)">

                <div class="flex mt-3 ml-4 align-items-center border-2 justify-content-center  mb-2"
                     style="width:3rem;height:3rem; border-radius:10px;border-color: #424bff  ">
                    <i class="pi pi-fw pi-user text-2xl text-white-alpha-60"></i>
            </div>

        <div class="flex mt-3 ml-4 align-items-center border-2 justify-content-center  mb-2"
             style="width:3rem;height:3rem; border-radius:10px;border-color: #424bff  ">
            <img src="../../../../assets/layout/images/Github.png" width="50" />
        </div>
        <div class="flex mt-3 ml-4 align-items-center border-2 justify-content-center  mb-2"
             style="width:3rem;height:3rem; border-radius:10px;border-color: #424bff  ">
            <i class="pi pi-fw pi-power-off text-2xl text-white-alpha-60"></i>
        </div>
    </div>
</div>
