.layout-sidebar {
    width: 100px;
    height: 92%;
    position: fixed;
    left: 0cm;
    top: 1.5cm;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    animation: flow 10s linear infinite;
    font-size: 14px;
    background-color: rgba(148, 148, 148, 0.13);

}

.layout-menu {
    list-style: none;
    padding: 0;
    margin: 5cm;
}

.layout-menu li {
    padding: 0px;
    border-bottom: 0px solid #ddd;

}

.layout-menu li:last-child {
    border-bottom: none;

}

.layout-menu li.menu-separator {
    height: 1px;
    margin: 1px 0;
    background-color: #ddd;
}


