<div class="overflow-hidden">
<div  class="    pt-4 px-4 lg:px-8 overflow-hidden z-0 " style="background:linear-gradient(60deg, rgba(169,69,252,1) 44%, rgb(48,26,140) 46%, rgba(18,24,116,1) 47%, rgba(1,7,35,1) 48%); clip-path: inset(0% 15% 4% 45% round 07px);transform: rotate(-18deg) scale(28) translateX(02.6%) translateY(12%);">
</div>
<div id="chat" class="grid flex flex-column pt-4 px-4 lg:px-8 overflow-hidden z-5">
    <a class="flex align-items-center z-5" href="#">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="tom Logo" height="50" class="mr-0 lg:mr-2"><span class="text-700 font-medium text-xl line-height-3 mr-6 text-white-alpha-60">WorkSafe</span>
    </a>
    <div class="x z-5 mt-8">
        <h1 class="text-4xl font-bold text-white-alpha-70 line-height-2 z-5  "><span class="font-light  text-white-alpha-40 block z-5 ">WorkSafe</span>Chat with your Coworkers!</h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-white-alpha-40 hover:text-blue-50"> "Live chat is the new phone call." - Jason Quey </p>

        <button pButton pRipple (click)="router.navigate(['components/home'])" type="button" label="Send message" class="p-button-rounded text-xl border-none mt-6 bg-purple-alpha-10 font-normal line-height-3 px-3 text-white"></button>
    </div>
    <div class="flex justify-content-center md:justify-content-end  " style="transform:translateY(-39%)">
        <img src="assets/demo/images/chat/img.png "  alt="Hero Image" height="300" class="lg:w-5 md:w-auto">
    </div>
</div>
        </div>
