
<p-dialog
    header="Create new user"
    [(visible)]="employeeService.displayDialog"
    [modal]="true"
    [style]="{ width: '650px' }"
    close
>
        <div class="field">
            <label for="Name">Name</label>
            <input
                id="name"
                type="text"
                class="w-full"
                pInputText
                [(ngModel)]="this.employee.name" required autofocus
            />

        </div>
        <div class="field">
            <label for="username">Username</label>
            <input
                id="username"
                type="text"
                class="w-full"
                pInputText
                [(ngModel)]="this.employee.username" required autofocus
            />
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input
                id="email"
                type="email"
                class="w-full"
                pInputText
                [(ngModel)]="this.employee.email" required autofocus
            />

        </div>
            <div class="field">
                <label for="age">age</label>
                <input
                    id="age"
                    type="number"
                    class="w-full"
                    pInputText
                    [(ngModel)]="this.employee.age" required autofocus
                />

            </div>
            <div class="field">
                <label for="address">address</label>
                <input
                    id="address"
                    type="text"
                    class="w-full"
                    pInputText
                    [(ngModel)]="this.employee.address" required autofocus
                />
            </div>
            <div class="field">
                <label for="departement">adepartemnt</label>
                <input
                    id="departement"
                    type="text"
                    class="w-full"
                    pInputText
                    [(ngModel)]="this.employee.departement" required autofocus
                />
            </div>
            <button
                pButton
                pRipple
                label="Save"
                class="p-button"
                icon="pi pi-check"
                type="submit"
                (click)="saveUser()"
            > </button>
</p-dialog>
